#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=MLHub
Exec=.local/bin/mlhub
Icon=/home/USER/.local/share/icons/hicolor/256x256/apps/mlhub.png
